.About {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(
        100vh-58px
    ); /* Optional: this will take up the full viewport height */
}
