.workexCard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.workexCardTitle {
}

.workexCardText {
    overflow: hidden;
}

.workexCardList {
}
.workexCardDate {
}

.detailsButton {
    z-index: 1030;
    /* width: 90%; */
}
