
.Intro {
    display: inherit;
}
.Intro-Carousel-Caption {

}


/* For screens wider than 768px */
@media (min-width: 769px) {
    .Intro {
        flex-direction: row;
        flex: 6;
    }
    .carousel-inner {
        height: 52vh;
        top: 25vh;
        align-items: center;
    }
    .Intro-Carousel {
        width : 100%;
    }
    .Intro-Carousel-Item {
        height: 75%;
        position: relative;
    }
    .Intro-Carousel-Caption {
        /* position: relative !important; */
        /* width: 75vw; */
        /* right: 0 !important;
        left: 0 !important; */
        /* margin: auto; */
        /* height: 100%; */
        bottom: 15% !important;
    }
}

/* For screens narrower than 768px */
@media (max-width: 768px) {
    .Intro {
        flex-direction: column;
        flex: 5;
    }
    .Intro-Carousel {
        width : 100%;
    }
    .carousel-inner {
        height: 50vh;
        margin-top: 5vh;
        margin-bottom: 58px;
        align-items: center;
    }
    .Intro-Carousel-Item {
        height: 100%;
        /* overflow: scroll; */
    }
    .Intro-Carousel-Caption {
        position: relative !important;
        width: 75vw;
        right: 0 !important;
        left: 0 !important;
        margin: auto;
        height: 100%;
    }
    .carousel-div {

    }

}

