.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .App-body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;


  }

  /* Responsive layout for narrow screens */
  @media (max-width: 768px) {
    .App-body {
      flex-direction: column;
      padding-top: 58px;
    }
  }

  /* For screens wider than 768px */
  @media (min-width: 769px) {
    .App-body {
      flex-direction: row;
      padding-top: 58px;
    }
  }
